<%= '<div class="alert alert-warning">' + @error + '</div>' if defined?(@error) %>
<form class="form-add" method="post">
	<div class="form-group">
		<label>Subdomain</label>
		<input class="form-control" name="subdomain" type="text" value="<%= h params['subdomain'] %>" placeholder="subdomain">
	</div>
	<div class="form-group">
		<label>Domain</label>
		<select class="form-control" name="domain_id" type="text">
			<% @domains.each do |domain| %>
				<option value="<%= domain.id %>">
					<%= domain.name %>
				</option>
			<% end %>
		</select>
	</div>
	<div class="form-group">
		<label>IP</label>
		<input class="form-control" name="ip" type="text" value="<%= h params['ip'] || request.ip %>">
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
	<a class="btn btn-unpretentious" href="/update">...or update an existing host</a>
</form>