<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= defined?(@title) ? @title : settings.name %></title>
		<%= css :main %>
	</head>
	<body>
		<div class="container">
			<div class="wrapper">
				<header class="header">
					<a class="brand" href="/"><%= settings.name %></a>
					<p class="lead"><%= settings.title %></p>
				</header>
				<% flash.each do |category, message| %>
	     			<div class="alert alert-<%= category %>"><%= message %></div>
				<% end %>
				<%= yield %>
			</div>
		</div>
		<a class="fork-me" href="https://github.com/marcojetson/lilidns">
			<img alt="Fork me on GitHub" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
		</a>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<%= js :main %>
	</body>
</html>